.CountdownContainer{
  display: flex;
  align-items: center;
  font-family: Rajdhani;
  font-weight: 600;
  color: var(--title);
}
.CountdownContainer >div{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  background:  var(--white);
  box-shadow: 0 0 60px rgba(0, 0, 0 0.05);
  border-radius: 5px;
  font-size: 8.5rem;
  align-items: center;
}
.CountdownContainer>div span{
  flex: 1;
}
.CountdownContainer> span{
  font-size: 6.25rem;
  margin: 0 0 0.5rem;
}
.countdownButton{
  height: 5rem;
  width: 100%;

  margin-top: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 5px;

  background: var(--blue);
  color: var(--white);
  
  font-size: 1.25rem;
  font-weight: 600;

  cursor: pointer;
  transition: 0.2s;
}
.countdownButton:hover{
  background: var(--blue-dark);
  font-size: 1.5rem;
}